body {
    background-color: #FFFFFF;
    font-family: 'Indie Flower', cursive;
    padding: 0px;
    margin: 0px;
}

header {
    background: url(https://xrunerman.github.io/homeworks3/images/headerbg.png) no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 26%;
}

p {
    text-decoration: none;
    font-size: 22px;
    color: #515151;
    padding-left: 30px;
    text-indent: 35px;
    line-height: 1.2em;
    
}

.logohead {
    left:43%;
    top: 50px;
    position:relative;"
    
}

.wraper {
    margin: 0 auto;
    width: 1550px;
}

h1 {
    font-size: 60px;
    color: #515151;
    border-bottom: 1px dashed #000080;
}

h2 {
    text-decoration: none;
    font-size: 30px;
    color: #515151;
    padding-left: 30px;
}

.right-floated-block
		{
		  float: right;
		   margin: 0 100px 100px 100px;
		}	

button.minimal {
  background: #e3e3e3;
  text-align: center;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -o-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: 'Indie Flower', cursive;
  line-height: 1;
  padding: 6px 0 9px;
  text-shadow: 0 1px 0 #fff;
  width: 130px; 
}
  
button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }

h3 {
    color: #515151;
    background-color: #afd6d1;
    font-size: 35px;
    padding: 15px 0 5px 0;
    text-align: center;
}

.author {
    color: #515151;
    font-size: 20px;
    text-align: right;
    padding-right: 15px
}
